@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 20px;
}

/* ======= Logo ========  */
.logo {
    font-family: "Rammetto One", sans-serif;
    color: rgba(43, 58, 85, 0.9);
    letter-spacing: 0.2rem;
    transition: 1.2s;
    font-size: 1.8em;
    padding: 10px;
}
.logo span {
    font-size: 72px;
    color: rgb(133, 40, 255);
    line-height: 0.2;
  }

.logo:hover {
    color: #3d348b;
    filter: brightness(0.5);
    transform: scale(1);
    opacity: 0.5;
    cursor: pointer;
}

/* ======= Entrar ========  */
.perfil{
    height: auto;
    text-align: center;
}
.perfil-container{
    padding: 7px 10px;
    background-color: rgb(133, 40, 255);
    border-radius: 10px;
}

.perfil-container:hover {
    opacity: 0.5;
    background-color: rgb(96, 28, 184);
    cursor: pointer;
}
.entrar{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    height: 45px;
    width: 200px;
    cursor: pointer;
    /* transition: 0.3s; */
}


