@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
/*   transition: all 0.2s linear; */
/*   font-size: 100.5%; */
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* ======= ContainerHeader ========  */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  padding: 10px 4vw 0 14px;
  margin: 0;
  width: 100vw;
  height: auto;
}

/* ======= Entrar ========  */

.acessarPerfil{
  margin: 0 0 17px 0;
}
.entrar{
  font-family: "Rammetto One", sans-serif;
  color: #4a148c;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: 1.2s;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.entrar:hover {
  color: #ba68c8;
  filter: brightness(0.5);
  transform: scale(1);
  opacity: 0.5;
  cursor: pointer;
}


/* ======= Logo ========  */
.logo {
  font-family: "Rammetto One", sans-serif;
  color: #fdf0d5;
  letter-spacing: 0.2rem;
  transition: 1.2s;
  font-size: 1.5em;
}

.logo:hover {
  color: #ba68c8;
  filter: brightness(0.5);
  transform: scale(1);
  opacity: 0.5;
  cursor: pointer;
}
/* ======= Container navigation ========  */
.container-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ======= Humburger ========  */
.humburger {
  cursor: pointer;
  font-size: 1.8em;
  color: #fdf0d5;
  
}

.humburger-animation {
  transform: rotate(180deg);
  transition: 0.2s;
}

/* ======= Container item ========  */
.container-menu-navegacao {
  display: none;
}

.container-item-navegador{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 25px;
}

.item-menu {
  color: #4a148c;
  padding: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  transition: transform 550ms, opacity 1500ms;
}

.item-menu:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
  opacity: 0.5;
  color: #ba68c8;
  font-weight: bold;
}

.mostrarNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 95vw;
  height: 90vh;
  margin: 25px 0 0 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.856); 
/*   transition: all 2s ease-out; */ 
  position: absolute;
  z-index: 1001; 
}




@media (min-width: 658px) {
  /* ======= Itens ========  */
  .item-menu {
    font-size: 1rem;
  }

  /* ======= Logo ========  */
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media(min-width: 720px) {
    /* ======= Container do Nav ========  */
    .container-header {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin:auto 0;
    } 
  
   
    /* ======= Container do Item ========  */
    .mostrarNav {
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items: center;
       box-shadow:none; 
      border-radius: none;
      background-color: transparent;  
      margin: 0;
      padding: 0 250px;
      position: relative;
      z-index:auto; 
      height: auto;
    }

    .container-item-navegador{
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items: center;
    }
  .container-menu-navegacao {
      width: 65%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.856); 
    }

     /* ======= Humbuger ========  */
  .humburger {
    display: none;
  }
 .entrar{
  margin: 0 auto;
 }
  

}

@media (min-width: 1300px) {
  /* ======= Container do Nav ========  */
  .container-header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin:auto 0;
/*     padding: 0; */
  } 
 
  /* ======= Container do Item ========  */
  .container-item-navegador{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }
  .container-menu-navegacao {
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: auto 0;
    justify-content: space-around;
    align-items: center;
  }

  /* ======= Humbuger ========  */
  .humburger {
    display: none;
  }

  /* ======= Container navigation ========  */
  .container-navigation{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ======= Entrar ========  */
  .entrar{
    font-size: 1.1rem;
  }
  /* ======= Itens ========  */
  .item-menu {
    font-size: 1.1rem;
  }

  /* ======= Logo ========  */
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    /* margin: auto 0; */
    margin: 0  0 0 30px;
  }

}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
