@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f1f7;
  color: #2c2c2c;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  overflow-y: scroll;
  background-image: url("/background-home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: auto;
  width: 100%;
  gap: 50px;

}

/*=== Informações do título e subtítulo ===*/
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.titulo {
  font-size: 2rem;
  text-align: center;
  color: rgba(43, 58, 85, 0.9);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  
}

.titulo span{
  color: rgb(133, 40, 255);
}

.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 90%;
}
.subtitulo h3{
  font-size: 1.8rem;
  color: rgba(43, 58, 85, 0.9);
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
}
.subtitulo span {
  color: rgb(133, 40, 255);
}

.descricao-sub{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(75, 85, 99, 0.884);
}

/* ============ Habilidades ============ */
.container-habilidades > .ul-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 20px 0;
  gap: 15px;
  height: auto;
}

.ul-lista> .itens-lista{
  background-color: rgba(133, 40, 255, 0.178);
  border-color: 1px transparent;
  border-radius: 5px;
  color: rgb(133, 40, 255);
  width: 142px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: .75rem;
  font-family: "Montserrat", sans-serif;
}
.ul-lista> .itens-lista:hover{
  opacity: 0.8;
}

/* ============ Botões ============ */
.container-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 90%;
  padding-top: 5px;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 180px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(43, 58, 85, 0.25);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
  background-color: rgb(43, 58, 85);
  color: white;
}

.botao:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.botao-contato {
  text-align: center;
  background-color: transparent;
  color: rgb(133, 40, 255);
  border: 3px solid rgb(133, 40, 255);
  font-size: 18px;
  font-weight: 650;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 180px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

.botao-contato:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.icon-download {
  font-size: 1.1rem;
}

/* ============ Foto ============ */
.container-icon-foto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.background-foto {
  position: relative;
  width: 380px;
  height: 360px;
  border-radius:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/background-image-home.svg");
  background-position: center;
  background-size: cover;
}

.foto {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit:cover;
}

.socialMedia-icon{
  color: rgb(133, 40, 255);
}

.socialMedia-icon:hover{
  color: rgb(43, 58, 85);
}


.container-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 15px;
}
.container-icon > li > a{
  font-size: 2rem;
  color: rgb(133, 40, 255);
}
.container-icon > li > a:hover{
  cursor: pointer;
  color: rgb(43, 58, 85);
}
.typingAnimation {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid rgb(133, 40, 255);
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes blink {
  from {
    border-right-color: rgba(133, 40, 255, 0.596);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}


/* Sections */

.section1, .section2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  flex-direction: column;
}

.section2{
  gap: 15px;
}
@media (min-width: 400px) {

  .container-icon-foto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
 /*    width: 100%; */
    padding: 20px;
    margin: 350px 0 0 0 ;
  }

  .container-habilidades > .ul-lista{
    width: 90%;
    margin: 0 0 0 45px;
    padding-bottom: 5px;
  }
}
@media (min-width: 650px) {
  .background-foto {
    width: 400px;
    height: 390px;
  }
  .container-habilidades > .ul-lista{
    width: 90%;
    margin: 0 0 0 45px;
    padding-bottom: 5px;
  }
    .container-descricao-home{
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 290px;

  }

}
@media (min-width: 800px) {


.container-habilidades > .ul-lista{
    width: 80%;
    margin: 0 auto;
  }
  .container{ 
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0 0 0 ;
  }

  .descricao-sub{
    font-size: 1.5rem;
    width: 80%;
  }

.titulo {
  font-size: 2rem;
}
.subtitulo {
  width: 90%;
}
  .subtitulo h3{
    font-size: 1.7rem;
    color: rgb(43, 58, 85);
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
  }
  .subtitulo span {
    color: rgb(133, 40, 255);
  }

  .container-main {
    margin: 0;
    overflow-y: hidden;
  }
}
@media (min-width: 900px) {
  .titulo {
    font-size: 2rem;
  }

  .subtitulo {
    width: 100%;
  }
  
    .container-icon-foto{
      margin:0 0 0 0 ;
      gap: 5px;
      
    }
    .container{ 
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      flex-direction: row;
    }
}
@media (min-width: 1000px) {
.container-habilidades > .ul-lista{
    width: 70%;
    margin: 0 auto;
  }
}
