@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

.container-icon-lista {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin:0;
  height: auto;
  max-height: 100%;
  border-radius: 24px;
  color: #fdfcfd;
  width: 95%;
}




/*=== Informações do título e subtitulo ===*/
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 	overflow-y: hidden; 
  height: auto;
  width: 90%;
}

.titulo {
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 5px;
  font-style: normal;
  color:#e0fbfc;
  
  
}

.subtitulo {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 22px;
  color: #20186e;

}

/* ============ Botões ============ */
.container-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: auto;
  width: 100%;
}

.botao {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: #20186e;
  padding: 8px 15px;
  border-radius: 40px;
  border: 1px solid #20186e;
}


.botao:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.botao:active {
  filter: brightness(0.5);
}

.botao-contato {
  font-size: 1.1rem;
  background-color: #20186e;
  color: #ccc;
  border-radius: 40px;
  padding: 9px 20px;
  font-weight: bold;
}

.botao-contato:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ============ Icon ============ */
.icon-download {
  font-size: 1.1rem;
}

.item-icon {
  font-size: 2rem;
  color: white;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

/* ============ Foto ============ */
.foto {
   height: 250px;
   width: 250px;
   border-radius: 100%;
   border: 2px solid #20186e;
 /*   object-fit: cover; */
}




@media (min-width: 650px) {
  .container-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*============ Foto ============ */
  .foto {
    height: 250px;
     width: 250px;
     border: 50px;
     border: 2px solid #3d348b;
    object-fit: cover;
  }



  /*=== Informações do título e subtitulo ===*/
  .container-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*================Card=====================*/
  .container-icon-lista {
    height: auto;
    width: 90%;
    padding: 20px;
  }

  /* ============ Icon ============  */
  .item-icon {
    font-size: 2.5rem;
    color: #ccc;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 115px;
  }

  /* ============ Botões ============ */
  .botao-contato {
    padding: 10px 12px;
    font-size: 10px;
  }

  .botao a {
    padding: 8px 10px;
    font-size: 10px;
  }
}

@media (min-width: 700px) {
  .container-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(5px); 
    margin: 0;
  }

  /* ============ Icon ============  */
  .item-icon {
    font-size: 2rem;
    color: #ccc;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 0;
  }

  /* ============ Foto ============ */
  .foto {
    max-width: 280px;
    width: 35vw;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
    margin: 0 0 0 0;
    right: 3%;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  }
.container-descricao-home{
  padding-right: 30px;
}

  /*================Card=====================*/
  .container-icon-lista {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75vw;
    max-width: 90%;
    padding: 0 55px 0 20px;
    border-radius: 24px;
    height: 70vh;
  }

  /*=== Informações do título e subtitulo ===*/
  .container-info {
    margin: 0 0 0 0;
  }


  /* ============ Botões ============ */
  .container-botao{
    justify-content: flex-start;
    width: 80%;
  }
    .botao-contato {
      font-size: 10px;
    }
    .botao{
      font-size: 10px;
    }
}

@media (min-width: 850px) {

    /*================Card=====================*/
    .container-main {
      min-height: 100vh;
      justify-content: flex-start;
      align-items: center;
    }

    .container-icon-lista {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70vh; 
      width: 75vw;
      padding: 0 55px 0 20px;
      border-radius: 24px;
      margin: 0;
    }
  /*=== Informações do título e subtitulo ===*/
  .container-info {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 0 0 0 45px;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 20px;
  }

    /* ============ Botões ============ */

.botao-contato {
  font-size: 10px;
}
.botao{
  font-size: 10px;
}
}


@media (min-width: 1000px) {

  .container-icon-lista {
    margin: 0;
  }
  /*=== Informações do título e subtitulo ===*/
   .titulo {
    font-size: 40px;
  }

  .subtitulo {
    font-size: 20px;
  }

  /* ============ Botões ============ */

.botao-contato {
  font-size: 12px;
}
.botao{
  font-size: 12px;
}


}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 8;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ============ Animação do título ============*/
@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: black;
  }
}

.typingAnimation {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end), blink 0.75s step-end infinite;
}