@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f1f7;
  color: #2c2c2c;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100%;
  padding-bottom: 20px;
}

.container-icon-lista {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0;
  height: auto;
  max-height: 100%;
  border-radius: 24px;
  color: #563d7c;
  width: 95%;
  padding: 20px;
}

/*=== Informações do título e subtítulo ===*/
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 90%;
}

.titulo {
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
  color: rgba(43, 58, 85, 0.9);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.2s;
}

.subtitulo {
  font-size: 1.3rem;
  color: rgba(43, 58, 85, 0.9);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 5px;
  margin: -40px 0;
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.3s;
}

.subtitulo span {
  color: rgb(133, 40, 255);
}

/* ============ Botões ============ */
.container-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding-top: 75px;
}

.botao {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 250px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(43, 58, 85, 0.2);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
  background-color: rgba(43, 58, 85, 0.9);
  color: white;
}

.botao:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.botao-contato {
  text-align: center;
  background-color: transparent;
  color: rgb(133, 40, 255);
  border: 2px solid rgb(133, 40, 255);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 250px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(43, 58, 85, 0.2);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

.botao-contato:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.icon-download {
  font-size: 1.1rem;
}

/* ============ Foto ============ */
.foto {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.5s ease-in;
}

.typingAnimation {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid #d68631;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (min-width: 650px) {
  .titulo {
    font-size: 2rem;
  }
  
  .subtitulo {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .container-main {
    min-height: 90%;
    border-radius: 30px;
    padding: 30px;
  }
/* 
  .titulo {
    font-size: 2rem;
  } */

  .subtitulo {
    font-size: 1.8rem;
  }

  .foto {
    height: 350px;
    width: 350px;
    border-radius: 20px;
  }
}
