@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f1f7;
  color: #2c2c2c;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: auto;
  width: 100%;

}

/*=== Informações do título e subtítulo ===*/
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.titulo {
  font-size: 2rem;
  font-weight: 900;
  padding: 10px 0;
  text-align: center;
  color: rgba(43, 58, 85, 0.9);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.2s;
}

.subtitulo {
  font-size: 1.5rem;
  color: rgba(43, 58, 85, 0.9);
  /* text-transform: uppercase; */
  font-weight: 900;
  letter-spacing: 5px;
  margin: -25px 0;
  text-align: center;
}

.subtitulo span {
  color: rgb(133, 40, 255);
}
.container-descricao-home{
  text-align: center;
  height: 310px;
  width: 85%;
  margin: 0;
  padding: 0;

}
.descricao-home{
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 600 ;
  color: rgba(75, 85, 99, 0.884);
}

/* ============ Habilidades ============ */
div > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 20px 0;
  gap: 15px;
}

ul li{
  background-color: rgba(219,234,254,.8);
  border-color: 1px transparent;
  border-radius: 5px;
  color: rgb(133, 40, 255);
  width: 142px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: .75rem;
  font-family: "Montserrat", sans-serif;
}
ul li:hover{
  opacity: 0.8;
}

/* ============ Botões ============ */
.container-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding-top: 40px;
}

.botao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(43, 58, 85, 0.2);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
  background-color: rgba(43, 58, 85, 0.9);
  color: white;
}

.botao:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.botao-contato {
  text-align: center;
  background-color: transparent;
  color: rgb(133, 40, 255);
  border: 2px solid rgb(133, 40, 255);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(43, 58, 85, 0.2);
  animation: bottomIn 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

.botao-contato:hover {
  background-color: rgb(133, 40, 255);
  color: white;
}

.icon-download {
  font-size: 1.1rem;
}

/* ============ Foto ============ */
.primeiro-background-foto {
  position: relative;
  width: 100%;
  height: 550px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 450px 0 0 0 ;
}

.foto {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative; 
  z-index: 2; 
  object-fit:cover;
}

/* .primeiro-background-foto > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transform-origin: center;
} */
.socialMedia-icon{
  color: rgb(133, 40, 255);
}

.socialMedia-icon:hover{
  opacity: 0.8;
}



.primeiro-background-foto > div:nth-child(1) {
  transform: rotate(20deg) translate(210px);
 
}

.primeiro-background-foto > div:nth-child(2) {
  transform: rotate(268deg) translate(200px);
  color: rgb(133, 40, 255);
}

.primeiro-background-foto > div:nth-child(3) {
  transform: rotate(180deg) translate(210px);
  color: rgb(133, 40, 255);
}
.primeiro-background-foto > div {
  position: absolute;
  font-size: 30px;
  color: #563d7c;
  
}

.typingAnimation {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid rgb(133, 40, 255);
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (min-width: 450px) {
  .primeiro-background-foto {
    margin: 650px 0 0 0 ;
  }

  div > ul{
    width: 90%;
    margin: 0 0 0 45px;
    padding-bottom: 5px;
  }
    .container-descricao-home{
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 290px;

  }
  .titulo {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
@media (min-width: 650px) {
  .primeiro-background-foto {
    margin: 450px 0 0 0 ;
  }

  div > ul{
    width: 90%;
    margin: 0 0 0 45px;
    padding-bottom: 5px;
  }
    .container-descricao-home{
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 290px;

  }
}
@media (min-width: 800px) {

  .subtitulo {
    font-size: 1.8rem;
  }
  .container-descricao-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 250px;
    padding: 0;
    margin: 0;
  }
  .primeiro-background-foto {
    margin: 350px 0 0 0 ;
  }
  div > ul{
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  div > ul{
    width: 70%;
    margin: 0 auto;
  }
}
