@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}


.primeiro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  transition: none;
  border-radius: 10px;
  padding: 20px 5px;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  border: rgb(133, 40, 255) 1px solid; 
  border-radius: 24px;
  padding: 20px;
  font-weight: 400;
  
}

fieldset {
  border: none;
}

/*========================Error================================ */
.errorFormk {
    font-size: 1rem;
    font-weight: 600;
    color: red;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  /*========================Botao================================ */
  .botao {
    font-size: 1.3rem;
    background-color: rgb(43, 58, 85);
    color: #ffffff;
    padding: 9px 10px;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 30%;
    margin: 25px 0 0 0;
    outline: none
  }
  .botao:hover {
    transform: scale(1);
    color: white;
    border: none;
    background-color: rgb(133, 40, 255);
  }

/*========================Títlo================================ */
.titulo {
  font-family: "Montserrat", sans-serif;
  color: #543787;
  letter-spacing: 0.1rem;
  transition: 1.2s;
  font-size: 1.8em;
}

@media (min-width: 600px) {
 /*  .formulario {
    width: 80vw;
  } */
  .botao{
    width: 30%;
  }
  

}
@media (min-width: 650px) {
  .formulario {
    width: 80vw;
  }
  .botao{
    width: 30%;
  }
 
}
@media (min-width: 730px) {
  .formulario {
    width: 60vw;
  }

  .botao{
    width: 30%;
  }
 
}