@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rammetto+One&display=swap');

/* ======= Foto do Perfil ========  */
.container-perfil {
  display: flex;
  flex-direction: column;

}


.botao-perfil{
  background-color: transparent;
}


.foto-perfil{
    object-fit:fill; 
    background-color: #3d348b;
    border: 2px solid #3d348b;
     height: 50px;
     width: 50px;
     border-radius: 40px;
     cursor: pointer;
   }

.foto-perfil:hover{
  transform: scale(1.2);
  color: #3d348b;
  font-weight: bold;

}

   
.menu-perfil{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
   } 
   

   .item-menu-perfil {
    padding: 20px 30px; 
    white-space: nowrap; 
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: 0.2s;
    letter-spacing: 0.1rem;
    transition: transform 550ms, opacity 1500ms;
    color: #20186e;
  }

  .item-menu-sair{
    padding: 20px 30px; 
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: 0.2s;
    letter-spacing: 0.1rem;
    transition: transform 550ms, opacity 1500ms;
    color: #20186e;
    background: none;
  }

  
  .item-menu-perfil:hover {
      filter: brightness(0.5);
      transform: scale(1.2);
      font-weight: bold;
     color:#3d348b;

  }
  .item-menu-sair:hover {
      filter: brightness(0.5);
      transform: scale(1.2);
      font-weight: bold;
     color:#3d348b;
     cursor: pointer;
   

  }

  @media (min-width: 700px){
    .container-acessar{
      position: absolute;
      z-index: 999;
      width: 150px;
      height:250px;
      background-color: rgba(255, 255, 255, 0.918);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
      border-radius: 4px;
      top: 95px;
      right: 45px;
    }
    .menu-perfil {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    } 
  }


/*   @media (min-width: 850px){
    .container-acessar{
      position: absolute;
      z-index: 999;
      width: 150px;
      height:250px;
      background-color: rgba(250, 19, 19, 0.918);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
      border-radius: 4px;
      top: 95px;
      right: 45px;
    }
    .menu-perfil {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    } 
  } */

  @media(min-width: 1200px){
    .container-acessar{
      position: absolute;
      z-index: 999;
      width: 150px;
      height:250px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      border-radius: 4px;
      top: 95px;
      right: 60px;
    }
    .menu-perfil {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    } 
  }
  @media(min-width: 1600px){
    .container-acessar{
      position: absolute;
      z-index: 999;
      width: 150px;
      height:250px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      border-radius: 4px;
      top: 98px;
      right: 85px;
    }
    .menu-perfil {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    } 
  }