@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rammetto+One&display=swap');

/* ======= Foto do Perfil ========  */
.container-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


.botao-perfil{
  background-color: transparent;
}


.foto-perfil{ 
    background-color: #3d348b;
    border: 2px solid #3d348b;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    cursor: pointer;
}

.foto-perfil:hover{
  color: #3d348b;
  font-weight: bold;

}

.menu-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
} 

  .item-menu{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    transition: 0.2s;
    letter-spacing: 0.1rem;
    color: rgb(43, 58, 85);
    background: none;
  }

  
  .item-menu:hover {
    filter: brightness(0.5);
    font-weight: bold;
    color:rgb(1, 10, 29);
    cursor: pointer;
    border-bottom: 2px rgb(1, 10, 29) solid ;
  }

  @media (min-width: 800px){
    .menu-perfil {
      position: absolute;
      z-index: 5000;
      right: 5px;
      top: 75px;
    } 
  }

