
.container{
    width: 50vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    background-color: #fcfafa;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    
}

.container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   gap: 0;
}


.botao-delete{
  padding: 5px 25px 5px 0;
}


 @media (min-width: 550px) {
    .container{
        width: 50vw;
    }
  }

  @media (min-width: 800px) {
    .container{
        width: 55vw;
    }
  } 
  @media (min-width: 850px) {
    .container{
        width: 57vw;
    }
  } 
  @media (min-width: 900px) {
    .container{
        width: 58vw;
    }
  } 
  @media (min-width: 950px) {
    .container{
        width: 62vw;
    }
  } 


  @media (min-width: 1050px) {
    .container{
        width: 65vw;
    }
  } 

  @media (min-width: 1150px) {
    .container{
        width: 68vw;
    }
  } 
  @media (min-width: 1200px) {
    .container{
        width: 70vw;
    }
  } 