.card {
  /*  margin: 0 40px; */
  /* 	padding-left: 50px;
       padding-right: 50px;
       padding-bottom: 60px;  */
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* 	width: 75vw; */
    max-width: 90%;
    /* padding: 50px 30px 50px 20px; */
    border-radius: 24px;
    padding: 0;
    margin: 0 auto;
  }
}
@media (min-width: 700px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 90%;
    margin: 0 auto;
    height: auto;
  }
}
