@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ===========================Container================================ */

.container{
   display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    }

/* ===================== Header do post ==================== */
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
  }
  
  
  .header h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  .header p {
    font-size: 0.1rem;
  }
  .container-header-titulo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    
  }
/* --------------------   Container do header do perfil   ---------------------- */

.container-header-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fotoPerfil{
    margin: auto 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 14px;
  }

    /* ===========================Imagem do post================================ */
    .container-imagem-postada{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    
      .imagem {
        margin: 0;
        padding: 5px 0 0 0;
        width: 98%;
        height: 250px;
        object-fit:unset;
        
      }



/* ===========================Card================================ */

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 58%;
    height: auto;
    overflow: hidden;
    border: #e0dfdf 1px solid;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }



/* =========================== Informação do post ================================ */


.container-info{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction: row;
  width: 100%;
  padding: 5px 0 0 5px;
  gap: 10px;
}  

  .mensagem {
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
  }
  .comentario{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding: 0;
  }
  



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 750px){
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding: 50px 0 155px 0;
      height: 100%;

    }
    .card {
        width: 50%;
      }
}
@media(min-width: 850px){
    .card {
        width: 300px;
      }
}
@media(min-width: 950px){
    .container{
        gap: 0;
        margin: 0 auto;
    }
    .card {
        width: 350px;
      }
}