
/* ===========================Container================================ */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    }

/* ===========================Card================================ */

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border: #e0dfdf 1px solid;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-top: 5px;
  }



.container-mensagem{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.container-header{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 100%;
}


.container-titulo{
    text-align: left;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 850px){
    .container{
        flex-direction: row;
        flex-wrap:wrap;
        width: 95%;
        margin: 0 auto;
    }
    .card {
        margin: 10px;
        width: 40%;
      }
}