.container {
    width: 100%;
    background-color: #eeebeb;
    border-radius: 0 0 5px 5px;
    
  }
  
  .botao {
    background-color: #20186e;;
    width: 95px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #20186e;;
    font-size: 1em;
    font-weight: bold;
    color: white;
    transition: border-color 0.25s;
  }
  .botao:hover {
    filter: brightness(0.5);
    transform: scale(1);
    opacity: 0.5;
    color: white;
  }

  .container-mensagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 0;
  }
  
  .campo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
  }
  

  .container-curtir{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    background-color: white;
  }

  /* ======================== Comentário ========================== */
  .container-comentario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .comentario{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }