.container {
    margin-top: 10px;
    width: 100%;
  }
  
  .botao {
    background-color: #3897f0;
    color: white;
    border: none;
    width: 55px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
  }

  .container-mensagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .compo-input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  
  