.container {
    margin-top: 10px;
    width: 100%;
  }
  
  .botao {
    background-color: #3897f0;
    color: white;
    border: none;
    width: 55px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
  }

  .container-mensagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .campo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  

  .container-curtir{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    background-color: white;
  }

  /* ======================== Comentário ========================== */
  .container-comentario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .comentario{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding: 0;
  }