@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

  body {
  display: flex;
  flex-direction: column;
}  
.PrimeiroContainer{
  overflow: auto;
  height: 100vh;
  padding-bottom: 100px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  padding-top: 20px; 
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  padding-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 350px;
  height: 380px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background: #fcfcfc;
  border-radius: 12px;
}
.card:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}


.card h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
  color: #000000;
}



/* =========================== Informação do certificado ================================ */

.container-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 10px;
  margin-bottom: 10px;
}  

.container-info p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

@media (min-width: 650px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
  }
  .card {
    width: 320px;
    height: 420px;
    margin: 0  10px 30px 0;
  }
}


@media (min-width: 780px) {
  .PrimeiroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    margin: auto 0;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .card {
    width: 330px;
    height: 420px;
    margin-bottom: 30px;
  }
  
}
@media (min-width: 850px) {
  .PrimeiroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    margin: auto 0;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 80vw;
  }
  
}



@media (min-width: 1400px) {
  .container {
    max-width: 65vw;
  }
}