@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
/* =========================Estilo do container Sobre=============================== */
.container{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    flex-direction: column;
/*     padding: 50px 10px 150px 10px; */
    gap: 5px;
    height: 100%;
    
}


/* =========================Estilo do container Header do sobre=============================== */
.container-header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;  
    width: 100%;

}
.container-sobre{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;  
    width: 90%;

}
.header-texto-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.texto-sobre{
    font-size: 1.3rem;
    color: rgba(43, 58, 85, 0.9);
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
/* =========================Estilo da borda=============================== */
.border-style{
    background-color: rgb(133, 40, 255);
    border-radius: 50px;
    width: 20%;
    height: 5px;
    margin: 0 0 10px 0;
}

/* =========================Estilo do título=============================== */
.titulo{
    font-size: 2em;
    font-weight: bold;
    color:rgba(43, 58, 85, 0.9);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* =========================Estilo das minhas habilidades=============================== */

.container-habilidades{
    width: 100%;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

.container-itens-habilidades{
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

} 
.itens-habilidades{
    width: 100px;
    height: 100px;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column; 
    cursor:pointer;
} 

.itens{
    font-size: 0.5rem;
    color: #020202;
    font-weight: 500;
}


/* =========================Estilo das imagens =============================== */
.imgStyle2{
    width: 55px;
    height: 55px;
}


/* =========================@ =============================== */

@media (min-width: 750px) {
.titulo{
    font-size: 2.5em;
}

.container-habilidades{
    width: 100%;
    height: 100%;
}

.container-sobre{
    width: 90%;
    height: 100%;
}

}





