@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
/* =========================Estilo do container Sobre=============================== */
.primeiro-container{
    overflow: auto;
    height: 100vh;
}
.container{
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 10px 150px 10px;
    gap: 155px;
    
}

.container-sobre{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 10% 5px;
}

/* =========================Estilo do container Header do sobre=============================== */
.container-header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;  
    width: 100%;

}
.header-texto-sobre{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;  
}

.texto-sobre{
    font-size: 1.2rem;
    color: #020202;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
/* =========================Estilo da borda=============================== */
.border-style{
 border: 1px solid #20186e;
 background-color: #20186e;
 border-radius: 50px;
 width: 10%;
 height: 5px;
 margin: 8px 5px 0 0;
}
/* =========================Estilo do título=============================== */
.titulo{
    font-size: 2em;
    font-weight: bold;
    color:#20186e;
    font-family: "Montserrat", sans-serif;
}

/* =========================Estilo das minhas habilidades=============================== */

.container-habilidades{
    width: 100%;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

 .container-itens-habilidades{
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
   
} 
 .itens-habilidades{
 width: 100px;
 height: 100px;
 display: flex;
 align-items:  center;
 justify-content: center;
 flex-direction: column; 
 cursor:pointer;
} 

.itens{
    font-size: 1.2rem;
    color: #020202;
    font-weight: 500;
}


/* =========================Estilo das imagens =============================== */
.imgStyle2{
    width: 55px;
    height: 55px;
}


/* =========================@ =============================== */

@media (min-width: 750px) {
    .titulo{
        font-size: 2.5em;
    }
    .container{
     padding: 50px 25px 150px 15px;
     width: 100%;
     }

    .container-habilidades{
     padding: 0;  
     width: 100%;
    }

    .container-sobre{
        margin: auto 0; 
        width: 100%;
    }
}


@media (min-width: 800px) {
  .container{
    flex-direction: row;
    gap: 0;
    height: 100vh;
    padding: 50px 10px 150px 10px;
    }
}


