@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

  body {
  display: flex;
  flex-direction: column;
}  
.PrimeiroContainer{
  overflow: auto;
  height: 100vh;
  padding-bottom: 100px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  padding-top: 20px; 
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 370px;
  height: 570px;
  border: 1px solid #dbdbdb;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: #000000;
}

.header p {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.container-header-titulo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}

.container-header-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 14px;
}

.container-imagem-postada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagem {
  width: 100%;
  height: 290px;
}

/* =========================== Mensagem do post ================================ */

.container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 10px 0 10px;
}  

  .mensagem {
    font-size: 1.1rem;
    font-weight: 550;
    line-height: 1.6;
    color: #000000;
    margin: 0;
  }

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 650px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
  }
  .imagem {
    width: 100%;
    height: 290px;
  }
  .card {
    width: 310px;
    margin-bottom: 30px;
  }
}


@media (min-width: 780px) {
  .PrimeiroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    margin: auto 0;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  
}
@media (min-width: 850px) {
  .PrimeiroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    margin: auto 0;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 80vw;
  }
  .card {
    width: 320px;
  }
  
}



@media (min-width: 1400px) {
  .container {
    max-width: 65vw;
  }
}