.textfield {
  width: 70vw;
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  margin: 10px; 
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  outline: none
}


@media (min-width: 600px) {
  .textfield {
    width: 52vw;
  }
}

@media (min-width: 650px) {
  .textfield {
    width: 40vw;
  }
}

@media (min-width: 730px) {
  .textfield {
    width:  36vw;
  }
}
