.textfield {
  width: 65vw;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(87, 87, 87);
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  outline: none
}
.textfield:hover{
  border: rgb(133, 40, 255) 1px solid; 
}

@media (min-width: 450px) {
  .textfield {
    width: 60vw;
  }
}
@media (min-width: 500px) {
  .textfield {
    width: 65vw;
  }
}
@media (min-width: 650px) {
  .textfield {
    width: 55vw;
  }
}


@media (min-width: 730px) {
  .textfield {
    width:  50vw;
  }
}


@media (min-width: 1050px) {
  .textfield {
    width:  35vw;
  }

}