@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}  
    /*========================Formulario================================ */
 .formulario {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: auto;
    font-family: "Montserrat", sans-serif;
      }
      
      /* ===========================Card================================ */

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: auto 0;
  border: #e0dfdf 1px solid;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

      
      /*========================FieldSet================================ */
    
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
      }
     /*======================== InPut================================ */
      .textfield {
        font-size: 0.7em;
        border: 1px solid #9d8189;
        border-radius: 5px;
        margin: 0; 
        padding: 10px 0 10px 8px;  
        width: 40vw;
      }
      /*========================Text Area Messagem================================ */
    .textAreaMessagem {
        font-size: 0.7em;
        border: 1px solid #9d8189;
        border-radius: 5px;
       padding: 10px 0 0 8px; 
        width: 40vw;
      }
    
      /*========================Error================================ */
    .errorFormk {
        font-size: 12px;
        font-weight: bold;
        color: red;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      
      /*========================Títlo================================ */
    .titulo {
      color: #4a148c;
      padding: 5px;
      font-weight: bold;
      font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
      }
    
    
      /*========================Envio do post  e camera ================================ */
  /*========================Botao================================ */
.botao {
  border-radius: 8px;
  border: 1px solid #ba68c8;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ba68c8;
  color: #4a148c;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 50%;
 margin: auto 0;
}
.botao:hover {
  filter: brightness(0.5);
  transform: scale(1);
  opacity: 0.5;
  color: white;
}

.botao:focus,
.botao:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
      .container-envio-e-camera{
        display: flex;
        justify-content: center;
        align-items: center;
       width: 100%;
      }
    
    
    
       @media (min-width: 600px) {
        .formulario {
          width: 40vw;
        }
      
        .textAreaMessagem {
          width: 35vw;
        }
        .textfield {
          width: 35vw;
        }
      } 
      @media (min-width: 650px) {
      /*   .formulario {
          width: 40vw;
        }
      
     
        .textAreaMessagem {
          width: 40vw;
        }
        .textfield {
          width: 40vw;
        } */
      }
     /* @media (min-width: 730px) {
        .formulario {
          width: 40vw;
        }
      
      
         .textAreaMessagem {
          width: 45vw;
        }
        .textfield {
          width: 45vw;
        } 
      }*/
      