@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}  
    /*========================Formulario================================ */
 .formulario {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: auto;
    font-family: "Montserrat", sans-serif;
  }
      
      /* ===========================Card================================ */

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: auto 0;
  border: rgb(133, 40, 255) 1px solid; 
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

      
      /*========================FieldSet================================ */
    
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
      }
     /*======================== InPut================================ */
      .textfield {
        font-size: 0.7em;
        border: 1px solid #9d8189;
        border-radius: 5px;
        margin: 0; 
        padding: 10px 0 10px 8px;  
        width: 75vw;
      }
      /*========================Text Area Messagem================================ */
    .textAreaMessagem {
        font-size: 0.7em;
        border: 1px solid #9d8189;
        border-radius: 5px;
        padding: 10px 0 0 8px; 
        width: 75vw;
        resize: none;
      }
    
      /*========================Error================================ */
    .errorFormk {
        font-size: 12px;
        font-weight: bold;
        color: red;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      
      /*========================Títlo================================ */
      .titulo{
        color: rgba(43, 58, 85, 0.9);
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
      }
      
    
      /*========================Envio do post  e camera ================================ */

      .container-envio-e-camera{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      
  /*========================Botao================================ */
  .botao {
    font-size: 1.3rem;
    background-color: rgba(43, 58, 85, 0.9);
    color: #ccc;
    padding: 9px 10px;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 30%;
    margin: 25px 0 0 0;
    outline: none
  }
  .botao:hover {
    transform: scale(1);
    color: white;
    border: none;
    background-color: rgb(133, 40, 255);
  }

.botao:focus,
.botao:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


    
    
@media (min-width: 550px) {
.formulario {
  width: 80vw;
}

.textAreaMessagem {
  width: 75vw;
}
.textfield {
  width: 75vw;
}
} 

@media (min-width: 650px) {
  .formulario {
  width: 80vw;
}

.textAreaMessagem {
  width: 78vw;
}

.textfield {
  width: 78vw;
}
}
@media (min-width: 720px) {
  .formulario {
  width: 80vw;
}
.textAreaMessagem {
  width: 66vw;
}

.textfield {
  width: 66vw;
}
}
@media (min-width: 850px) {
  .formulario {
  width: 80vw;
}

.textAreaMessagem {
  width: 68vw;
}
.textfield {
  width: 68vw;
}
}
@media (min-width: 1050px) {
.card{
  width: 60%;
}

.textAreaMessagem {
  width: 48vw;
}
.textfield {
  width: 48vw;
}
}


