

.container-visualizar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  /*   justify-content: flex-end;
    align-items: flex-end; */
  /*   position: relative;
    top: 5px;
    right: 0;
    left: 295px;
    z-index: 1001; */
  }

  .tresPontinhos{
    cursor: pointer;
  }

  .visualizar{
    background-color: white;
    cursor: pointer;
    color: black;
  }

