@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
/*========================Container================================ */
.container{
  display: grid;
  grid-template-areas:  "aside"
                        "principal";
  grid-template-columns: auto;
  grid-template-rows: 100px 2fr;
  height: 100%;
  width: 100%;
  border: 1px solid #e4e0e0;
  border-radius: 20px;
}

/*========================Aside================================ */
.aside{
    grid-area: aside; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    
}

.escrever{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  height: 50px;
  width: 155px;
  font-weight: 500;
  font-size: 1.5em;
  background-color: rgb(43, 58, 85);
  border: 1px solid rgb(43, 58, 85);
  color: #ffffff;
  border-radius: 40px;
  padding: 10px 5px;
}

.escrever:hover {
  background-color: rgb(133, 40, 255);
  cursor: pointer;
}

.aside-items{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  height: 50px;
  width: 150px;
  gap: 10px;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid rgb(43, 58, 85);
  border-radius: 3px;
  color: rgb(43, 58, 85);
  background-color: #ffffff;
  margin: 1px 5px; 
  padding:5px 0 5px 5px;
}
.aside-items:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

/*========================Principal================================ */
.principal{
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}



/*========================Exibir================================ */
.exibir{
    display: block;
}





  @media (min-width: 600px) {
    .aside-items{
      font-size: 1.2em;
      height: 50px;
      width: 180px;
    }
    .escrever{
      height: 50px;
      width: 190px;
    }
  }

  @media (min-width: 850px) {
    .aside-items{
      font-size: 1.2em;
      height: 50px;
      width: 250px;
    }
    .escrever{
      height: 50px;
      width: 300px;
    }

    .container{
      display: grid;
      grid-template-areas:  "aside"
                            "principal";
      grid-template-columns: 100%;
      grid-template-rows: 100px 2fr;
  }
/*   .principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
 } */

  }

@media (min-width: 1050px) {
    .aside-items{
      font-size: 1.2em;
      height: 50px;
      width: 350px;
    }
    .escrever{
      height: 50px;
      width: 400px;
    }

/*   .principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
 } */

}