@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
/*========================Container================================ */
.container{
    display: grid;
    grid-template-areas:  "aside principal";
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(4, 500px);
    height: 100%;
    width: 100vw;
    margin-top: 40px;
}

/*========================Aside================================ */
.aside{
    grid-area: aside; 
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid #dbdbdb;
    margin: 5px;
    
}

.escrever{
 display: flex;
 justify-content: center;
 align-items:center;
 gap: 10px;
 font-weight: 400;
 font-size: 1.7em;
 background-color: #20186e;
 border: 1px solid #20186e;
 color: #fff;
 border-radius: 40px;
 margin: 5px  5px 2px  5px; 
 padding: 15px 0;
 }
      
.escrever:hover {
filter: brightness(0.5);
cursor: pointer;
}

.aside-items{
 display: flex;
 justify-content: flex-start;
 align-items:center;
 gap: 10px;
 font-weight: 400;
 font-size: 1.2em;
 border: 1px solid #20186e;
 border-radius: 3px;
 color: #20186e;
 background-color: #fff;
 margin: 1px 5px; 
 padding:10px 0 10px 10px;
}
.aside-items:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

/*========================Principal================================ */
.principal{
    grid-area: principal;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px; 
   width: 95%;
}



/*========================Exibir================================ */
.exibir{
    display: block;
}





@media (min-width: 600px) {
    .container{
        grid-template-columns: 250px 2fr;
    }
    .principal{
       /*  margin: 0 50px 0 0; */
       width: 95%;
    }
  }
  @media (min-width: 650px) {
    .container{
        grid-template-columns: 300px 3fr;
    }
    .principal{
        width: 95%;
     }
  }
  @media (min-width: 730px) {
    .container{
        grid-template-columns: 350px 3fr;
    }
    .principal{
        width: 95%;
     }
  }
  @media (min-width: 850px) {
    .principal{
        width: 98%;
     }
  }
  @media (min-width: 950px) {
    .principal{
        width: 99%;
     }
  }
  