@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none;
   overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}


/* =========================Estilo do container=============================== */
.primeiro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.containerContato {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 90%;
 height: 100%;
 transition: none;
 border-radius: 10px;
 padding: 20px 5px;
}

.textoContato {
  padding: 20px;
  padding: 50px 15px 100px 15px;
  border-radius: 10% 5px ;
  width: 80%;
  margin: auto 0;
}
.titulo{
  color: rgba(43, 58, 85, 0.9);
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

/* .textoContato p{
  color:rgba(43, 58, 85, 0.9);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
 */

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}



.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  border: rgb(133, 40, 255) 1px solid; 
  border-radius: 24px;
  padding: 20px;
  font-weight: 400;
}

.block{
  display: none;
}

/*========================Fieldset================================ */
fieldset {
  border: none;
}

.pronomesStyles {
  padding: 5px;
  margin: 10px;
  display: flex;
  gap: 5px;
  font-size: 0.7em;
  font-weight: 400;
}
/*========================Select================================ */
.termStyles {
  font-size: 1em;
  font-weight: 500;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}


.termStyles a {
  color: #000;
  font-weight: 800;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
}
.termStyles a:hover {
  color: rgb(133, 40, 255);
  font-weight: bold;
  cursor: pointer;
}

/*========================Select================================ */

.selectStyle {
  border: 1px solid rgb(209, 208, 208);
  background-color: transparent;
  /* margin: 10px; */
  font-size: 1em;
  color: #727272;
  width: 80vw;
  padding: 12px 15px;
  border-radius: 10px;
  outline: none;
}
.selectStyle:hover {
  border: rgb(133, 40, 255) 1px solid; 
}
/*========================Text Area Messagem================================ */
.textAreaMessagem {
  font-size: 1em;
  border: 1px solid rgb(209, 208, 208);
  margin-top: 10px; 
  padding: 8px 15px;
  width: 80vw;
  border-radius: 10px;
  color: rgb(87, 87, 87);
  resize: none;
  background-color: transparent;
  outline: none;
}
.textAreaMessagem:hover{
  border: rgb(133, 40, 255) 1px solid; 
}
/*========================Error================================ */
.errorFormk {
  font-size: 1rem;
  font-weight: 600;
  color: red;
  padding: 0;
  margin: 0;
  text-align: start;
}

/*========================Botao================================ */
.botao {
  font-size: 1.3rem;
  background-color: rgba(43, 58, 85, 0.9);
  color: #ccc;
  padding: 9px 10px;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 80%;
  margin: 25px 0 0 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.botao:hover {
  transform: scale(1);
  color: white;
  border: none;
  background-color: rgb(133, 40, 255);
}

/* .botao-exibir{
  font-size: 1.3rem;
  background-color: #20186e;
  color: #ccc;
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 25px 0 0 0;
  border: 1px solid rgb(209, 208, 208);
} */

/* .botao-exibir:hover {
  filter: brightness(0.5);
  transform: scale(1);
  opacity: 0.8;
  color: white;
  border: none;
  outline: none
} */

/*========================Títlo================================ */
.titulo {
  font-family: "Montserrat", sans-serif;
  color: #543787;
  letter-spacing: 0.1rem;
  transition: 1.2s;
  font-size: 1.8em;
}

/* .subtitulo {

  color: #fff;
  letter-spacing: 0.1rem;
  transition: 1.2s;
  font-size: 1.8em;
} */


@media (min-width: 650px) {
 /*  .block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: #919090 1px solid; 
    border-radius: 24px;
    font-weight: 400;

  } */

/*   .botao-exibir{
    display: none;
  }
 */
  .selectStyle {
    width: 30vw;
  }
  .textAreaMessagem {
    width:20vw;
  }

  .containerContato {
    width: 100%;
  }
  .textoContato {
  width: 50%;
  }
  .formContainer{
  width: 100%;
  }

  .termo-container{
  display: flex;
  justify-content: center;
  align-items:center;
  }

  .input-termo{
  width: 50px;
  }

}
@media (min-width: 600px) {


  .selectStyle {
    width: 60vw;
  }
  .textAreaMessagem {
    width: 60vw;
  }

  .containerContato {
    flex-direction: row;
    padding: 0 5px;
  }

  .termo-container{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  }

  .input-termo{
  width: 50px;
  }

}
@media (min-width: 730px) {

  .formContainer{
    width: 100%;
    }
  .selectStyle {
    width: 50vw;
  }
  .textAreaMessagem {
    width:  50vw;
  }

}


@media (min-width: 950px) {
  .formContainer{
    width: 80%;
    height: auto;
  }
/*   .selectStyle {
    width: 35vw;
  }
  .textAreaMessagem {
    width:  35vw;
  } */

}
@media (min-width: 1050px) {
  .formContainer{
    width: 50%;
    height: auto;
  }
  .selectStyle {
    width: 35vw;
  }
  .textAreaMessagem {
    width:  35vw;
  }

}