
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
  transition: all 0.2s linear;
  font-size: 100.5%;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80vw;
  border: #ccc 1px solid;
  border-radius: 24px;
  background-color: white;
  padding: 20px;
  font-weight: 400;
  margin-top: 20px;
}
/*========================Fieldset================================ */
fieldset {
  border: none;
}

.pronomesStyles {
  padding: 5px;
  margin: 10px;
  display: flex;
  gap: 5px;
  font-size: 0.7em;
  font-weight: 400;
}
/*========================Select================================ */
.termStyles {
  font-size: 0.6em;
  font-weight: 400;
  padding: 2px;

}


.termStyles a {
  color: #646cff;
  margin-left: 5px;
}
.termStyles a:hover {
  color: #9d8189;
}

/*========================Select================================ */

.selectStyle {
  border: 1px solid #9d8189;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.7em;
  color: #494848;
  width: 65vw;
  padding: 7px 5px;
}

/*========================Text Area Messagem================================ */
.textAreaMessagem {
  font-size: 0.7em;
  border: 1px solid #9d8189;
  border-radius: 5px;
  margin-top: 10px; 
  padding: 8px 5px;
  width: 65vw;
}

/*========================Error================================ */
.errorFormk {
  font-size: 15px;
  font-weight: bold;
  color: red;
  padding: 0;
  margin: 0;
  text-align: start;
}

/*========================Botao================================ */
.botao {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #646cff;
  color: #000;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin: 25px 0 0 0;
}
.botao:hover {
  filter: brightness(0.5);
  transform: scale(1);
  opacity: 0.5;
}

.botao:focus,
.botao:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*========================Títlo================================ */
.titulo {
  color: #9d8189;
  padding: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .formulario {
    width: 80vw;
  }

  .selectStyle {
    width: 55vw;
  }
  .textAreaMessagem {
    width: 55vw;
  }
}
@media (min-width: 650px) {
  .formulario {
    width: 80vw;
  }

  .selectStyle {
    width: 55vw;
  }
  .textAreaMessagem {
    width: 55vw;
  }
}
@media (min-width: 730px) {
  .formulario {
    width: 50vw;
  }

  .selectStyle {
    width: 45vw;
  }
  .textAreaMessagem {
    width: 45vw;
  }
}
