@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* ======= ContainerHeader ========  */
.container-menu {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(133, 40, 255, 0.212);
  z-index: 200;
}


/* ======= Container item ========  */

.container-menu-navegacao {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  position: fixed;
}
.container-navigation{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}

.item-menu {
  color: rgb(97, 1, 223);
  font-size: 1.2rem;
  font-weight: 650;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}

.item-menu:hover {
  color:rgb(43, 58, 85);
}








@media(min-width: 720px) {
  .item-menu {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}


