* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* ======= ContainerHeader ========  */
.container-menu {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
 /*  padding: 15px 4vw 0 14px; */
  margin: 0;
  width: 100%;
  height: auto;
}


/* ======= Container navigation ========  */
/* .container-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */


/* ======= Humburger ========  */
.humburger {
  cursor: pointer;
  font-size: 2.5em;
  color: rgba(43, 58, 85, 0.9);
  position: relative;
  top: 0;
  right: -200px;
  width: 95%;
  text-align: center;
  display: none;
}


/* ======= Container item ========  */
/* .container-menu-navegacao {
  display: none;
} */

/* .container-item-navegador{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 80px;

} */
.container-menu-navegacao {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(133, 40, 255);
}
.container-item-navegador{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.item-menu {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  transition: transform 550ms, opacity 1500ms;
}

.item-menu:hover {
  color:rgba(43, 58, 85, 0.9);
}

/* ============ Icon ============ */

.item-icon {
  font-size: 2.2rem;
  color: rgba(49, 61, 83, 0.9);

}

.item-icon:hover{
  color:  rgb(133, 40, 255);
}

.icon {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}



.mostrarNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 95vw;
  height: 80vh;
  margin: 35px 0 0 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  background-color: #e2e2e5e0; 
  position: absolute;
  z-index: 1001; 
}






@media(min-width: 720px) {
    /* ======= Container do Nav ========  */
    .container-menu {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      padding: 0;
      background-color: rgb(133, 40, 255);
      height: 100%;
      width: 60%;
      border-radius: 0 20px 20px 0;
    }  
  

    /* ======= Container do Item ========  */
    .container-item-navegador{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      width: 100%;
      height: 60%;
    }
  .container-menu-navegacao {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column; 
      justify-content: space-around;
      align-items: center;
    }
    .item-menu{
      font-size: 1.5rem;
      color: #eadcfa;
      padding: 20px 15px 20px 0;
    }
    .item-icon{
      color: #eadcfa;
    }

    .item-menu:hover{
      color: rgba(43, 58, 85, 0.9);
    }
    .item-icon:hover{
      color: rgba(43, 58, 85, 0.9);
    }

    .container-navigation{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .active {
      text-align: end;
      background-color: #fff;
      width: 95%;
      border-radius: 20px 0 0 20px;
      color: #3d717e;
      font-weight: bold;
      margin: 0 0 0 15px;
    }
    
     /* ======= Humbuger ========  */
  .humburger {
    display: none;
  }
  
}


